.hero { 
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
}
/* Title Style */
.page-title {
    color: #fce138;
    display: inline-block;
    border-bottom: 4px solid #fce138;
    padding-top: 0;
    padding-right: 80px;
    padding-bottom: 15px;
    padding-left: 80px;
}
/* Title Font */
.page-title {
    font-weight: normal;
    font-size: 42px;
    font-style: italic;
}
/* Content Style */
.secondary-content {
    width: 80%;
    margin: 0 auto;
}
/* Content Color/Spec */
.secondary-content p {
    color: #024e76;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0 20px 0;
}
/* Content Title Color */
.secondary-content h3 {
    font-size: 25px;
    margin: 20px 0 20px 0;
}
/* List style */
.secondary-content ul {
    margin: 15px 20px 15px 20px;
}

.secondary-content li {
    color:#39a6b2;
    margin: 10px 0 10px 0;
}